body {
    background: #ffc519;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    border-bottom: 2px solid #ffffff;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

label {
    font-family: 'Montserrat', sans-serif;
}


#burgersReady,
#addBurgerForm,
#burgersEaten {
    margin-top: 4%
}


img {
    object-fit: cover;
    margin-top: 10%;
    border: 2px solid #ffffff;
    padding: 3%;


}

/* use bootstrap framework
vw/ vh  cards */

/* rem / em font sizing */